<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>createleague</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="new_league_form" (submit)="createLeague(new_league_form.value)">
  <ion-item>
    <ion-label position="floating" autofocus="true">League Name</ion-label>
    <ion-input type="text" formControlName="title" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" autofocus="true">Your Team Name</ion-label>
    <ion-input type="text" formControlName="roster" required></ion-input>
  </ion-item>

<ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_league_form.valid">Create League</ion-button>
</form>
</ion-content>
