<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
     <ion-icon name="arrow-back" color="dark"></ion-icon>
   </ion-button>
    <ion-title>Player Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-img [src]=currentplayer.img><</ion-img>
</ion-item>
      <ion-item>
      <ion-label>
      IGN: {{currentplayer.IGN}}
      </ion-label>
      </ion-item>
      <ion-item>
      <ion-label>
      Name: {{currentplayer.Name}}
      </ion-label>
      </ion-item>
      <ion-item>
      <ion-label>
      Points: {{currentplayer.Points}}
      </ion-label>
      </ion-item>
      <ion-item>
      <ion-label>
      Position: {{currentplayer.Position}}
      </ion-label>
      </ion-item>

</ion-content>
