<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
     <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>leagueoverview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="draftLobbyTest()">Draft Lobby</ion-button>

  <ion-list>
    <ion-item *ngFor="let rost of roster" (click)="goToRoster(rost)"> 
    <ion-label class=ion-text-wrap>
      uid:{{rost.uid}}
      <ion-item *ngFor="let players of rost.players">
      <ion-label class="ion-text-wrap">
        Name: {{players.Name}}
        Position:{{players.Position}}
      </ion-label>
      </ion-item>
    </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
