<ion-header>
  <ion-toolbar>
    <ion-title>Roster Overview</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-label>
      Team Name:{{currentroster.teamName}}
    </ion-label>
    <ion-item *ngFor="let player of playerlist" (click)="updateStatus(players)">
      <ion-label>
        Name: {{player.Name}}
        Position: {{player.Position}}
        Status: {{player.Status}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
  
</ion-item>
  
</ion-content>
