<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
     <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>{{currentroster.teamName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
    <ion-item *ngFor="let player of playerlist.players" (click)="goToPlayer(player)">
      <ion-thumbnail slot="end">
      <ion-img [src]="player.img"></ion-img>
      </ion-thumbnail>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
        Position: {{player.Position}}
        </ion-label>
      </ion-item-divider>
        <ion-label>
        <ion-item>
        IGN: {{player.IGN}}
        </ion-item>
        <ion-item>
        Points: {{player.Points}}
       </ion-item>
       </ion-label>
    </ion-item-group>
    </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
